*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* background-color: rgb(216, 215, 215); */
    width: 40%;
    height: 100px;
    position: absolute  ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(245, 102, 7);
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: 0.3s ease-in-out;
}
.container button:hover{
    transform: scale(1.05);
    background-color: rgb(248, 130, 51);
    cursor: pointer;

}
.container p{
    font-size: 50px;
    font-weight: bold;
}